@model IEnumerable<WebPortal.CATCustomerDailyData>

@{
    ViewBag.Title = "Index";
}
<ul class="nav nav-tabs" role="tablist">
    <li class="active">@Html.ActionLink(Resources.Labels.DailyDataTab, "CustomerDaily", "CATCustomerDailyDatas")</li>
    <li>@Html.ActionLink(Resources.Labels.MonthlyDataTab, "CustomerMonthly", "CATCustomerMonthlyDatas")</li>

</ul>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateOfRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfRequest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReceivedBytes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCInsertTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCLastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRequest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceivedBytes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCInsertTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCLastUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
