@model WebPortal.STInputFileDuplicity

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>STInputFileDuplicity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinesInFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinesInFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checksum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checksum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalFileChecksum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalFileChecksum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaderBatchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaderBatchID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
