@model WebPortal.STInputFileDuplicity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>STInputFileDuplicity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OriginalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinesInFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinesInFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Checksum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Checksum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsertDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsertDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OriginalFileChecksum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OriginalFileChecksum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaderBatchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaderBatchID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
