@model WebPortal.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

@{
    ViewBag.Title = "Prihlásený používateľ";
}
<br />
<hgroup class="title">
    <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @ViewBag.Title: <strong> @User.Identity.Name</strong></h3>
</hgroup>




<p class="text-success">@ViewBag.StatusMessage</p>
<dd>
    <h4>Nastavenia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resources.Labels.Password</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmeniť heslo", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            
        </dd>
        @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <dt> @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })</dt>
            <dd>@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })</dd>

            <dt> @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" }) </dt>
            <dd> @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })         </dd>
           
            <dt> </dt>
            <dd>   <input type="submit" class="btn btn-default" value="@Resources.Labels.Btn_Save" />  </dd>
        
        }

        @*<dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>*@
        @*
            Phone Numbers can used as a second factor of verification in a two-factor authentication system.
             
             See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
             
             Uncomment the following block after you have set up two-factor authentication
        *@
        @*  
            <dt>Phone Number:</dt>
            <dd>
                @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                    using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                    }
                }
                else
                {
                    <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                }
            </dd>
        *@

    
    </dl>
