@model IEnumerable<CATServicePatterns>


@{
    ViewBag.Title = @Resources.Labels.Patterns_PageTitle;
}

    <div class="col-xs-12 col-sm-12 col-md-12">
        <h2>@Resources.Labels.Patterns_PageTitle</h2>
        <p>@Resources.Labels.Patterns_PageSubtitle</p>
        <br />
        <p>
            <a class="btn btn-success pull-left" href="/Service/Create/"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Vytvoriť nový </a>
            <a style="margin-left:2.5em" class="btn btn-success pull-left" href="/Service/Index/"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Späť na @Resources.Labels.Menu_Sluzby </a>
        </p>
        <br />
        <hr />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title"><strong>@Resources.Labels.Patterns_TableTitle</strong></h4>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <th class="col-md-3">
                            @Html.DisplayNameFor(model => model.PatternLike)
                        </th>
                        <th class="col-md-2">
                            @Html.DisplayNameFor(model => model.PatternRegExp)
                        </th>
                        <th class="col-md-1">
                            @Html.DisplayNameFor(model => model.PatternDescription)
                        </th>
                        @*<th class="col-md-1">
                            @Html.DisplayNameFor(model => model.FKServiceID)
                        </th>*@
                        <th class="col-md-1">
                            @Html.DisplayNameFor(model => model.Entity)
                        </th>
                        <th class="col-md-1">
                            @Html.DisplayNameFor(model => model.Explanation)
                        </th>
                        <th class="col-md-1">
                            @Html.DisplayNameFor(model => model.DatSelectMethod)
                        </th>
                        <th class="col-md-1">
                            @Html.DisplayNameFor(model => model.TCInsertTime)
                        </th>
                        <th class="col-md-1">
                            @Html.DisplayNameFor(model => model.TCLastUpdate)
                        </th>                     
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatternLike)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatternRegExp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatternDescription)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.FKServiceID)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Entity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Explanation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatSelectMethod)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TCInsertTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TCLastUpdate)
                            </td>                       
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.PKServicePatternID }) |
                                @*@Html.ActionLink("Details", "Details", new { id = item.PKServicePatternID }) |*@
                                @Html.ActionLink("Delete", "Delete", new { id = item.PKServicePatternID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <hr />
        <p>
              <a class="btn btn-success pull-left" href="/Service/Index/"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> Späť na @Resources.Labels.Menu_Sluzby </a>
        </p>
    </div>

