@model IEnumerable<WebPortal.Stage_InputFileInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insertDateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insertDateTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.checksum }) |
            @Html.ActionLink("Details", "Details", new { id=item.checksum }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.checksum })
        </td>
    </tr>
}

</table>
