@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron col-lg-10">
    <div class="row">
        <div class="col-lg-5">
            <p class="site-title">
                <a href="@Url.Action("Index", "Home")">
                    <img class="headerLogo" src="@Url.Content("~/Resources/Images/logoVugk.png")" alt="Image Logo" style="margin-top:10px;" />
                </a>
            </p>
        </div>
        <div class="col-lg-7">
            <h1>@Resources.Labels.Home_Title</h1>
            <p class="lead">@Resources.Labels.Home_SubTitle</p>
            @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

        </div>
    </div>
    </div>

<div class="row">
    <div class="col-md-6">
       @Html.Partial("_LoginPartial")
    </div>
  
</div>