@model WebPortal.view_InvoiceByMonth

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>view_InvoiceByMonth</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateOfRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivedBytes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivedBytes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicPriceWithoutVAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicPriceWithoutVAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicPriceWithVAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicPriceWithVAT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
