@model PagedList.IPagedList<WebPortal.view_MonthlyData>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<ul class="nav nav-tabs" role="tablist">
    <li class="active">@Html.ActionLink(Resources.Labels.MonthlyDataTab, "Index", "CustomerMonthlyDatas")</li>
    <li>@Html.ActionLink(Resources.Labels.DailyDataTab, "Index", "CustomerDailyDatas")</li>
    <li>@Html.ActionLink(Resources.Labels.DetailDataTab, "Index", "LogsOfServices")</li>
</ul>

<h2>@Resources.Labels.MonthlyData_PageHeader</h2>


<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="panel panel-primary">

        <div class="panel-heading clearfix">
            <h4 class="panel-title pull-left"><strong>@Resources.Labels.Process_TableTitle</strong></h4>
            <br />

            <form class="form-horizontal col-md-12" role="form">
                <div class="row">
                    <!-- Date input -->
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="control-label col-md-1" for="date1">@Resources.Labels.Lbl_From</label>
                            <div class="col-md-2 col-sm-10">
                                <input class="form-control datefield" id="date1" name="date" placeholder="MM/YYYY" type="text" value="@ViewBag.CurrentFrom" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-1" for="date2">@Resources.Labels.Lbl_To</label>
                            <div class="col-md-2 col-sm-10">
                                <input class="form-control datefield" id="date2" name="date" placeholder="MM/YYYY" type="text" value="@ViewBag.CurrentTo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="date2">Filter</label>
                            <div class="col-md-2 col-sm-10">
                                <input class="form-control textfield" id="searchText" name="searchtext" type="text" value="@ViewBag.CurrentFilter" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="group-btn text-right">
                                <a class="btn btn-primary-spacing btn-success" aria-hidden="true" onclick="location.href = '@Url.Action("Index", "CustomerMonthlyDatas")?insertDateFrom=' + document.getElementById('date1').value+'&'+'insertDateTo=' + document.getElementById('date2').value+'&'+'searchText=' + document.getElementById('searchText').value +'&'+'currentFilter='+ '@ViewBag.CurrentFilter' +'&'+'currentFrom='+ '@ViewBag.CurrentFrom'+'&'+'currentTo='+ '@ViewBag.CurrentTo'"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Search</a>
                                <a class="btn btn-primary-spacing btn-danger" aria-hidden="true" onclick="location.href = '@Url.Action("Index", "CustomerMonthlyDatas")'"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Reset</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @*</div>*@
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().DateOfRequest)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerIdentification)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ServiceID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ServiceCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().NumberOfRequest)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().ReceivedBytes)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().RequestedTime)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr onclick="location.href = '@(Url.Action("Index", "CustomerDailyDatas", new { searchText = item.CustomerIdentification, insertDateFrom = item.DateOfRequest.Value.ToString("dd.MM.yyyy"), insertDateTo = item.DateOfRequest.Value.AddMonths(1).AddTicks(-1).ToString("dd.MM.yyyy") } ))'">
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfRequest)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerIdentification)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CustomerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumberOfRequest)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReceivedBytes)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestedTime)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <div class="form-inline">
                <div class="row text-center">
                    <h4>Štatistika</h4>
                </div>
            </div>
            <div class="form-inline">
                <div class="row">
                    <div class="col-md-2 col-md-offset-1"><b>@Resources.Labels.Statistics_CustomerCount</b>
                    </div>
                    <div class="col-md-2"><b>@Resources.Labels.Statistics_ServiceCount</b>
                    </div>
                    <div class="col-md-2"><b>@Resources.Labels.Statistics_RequestCount</b>
                    </div>
                    <div class="col-md-2"><b>@Resources.Labels.Statistics_ReceivedBytes</b>
                    </div>
                    <div class="col-md-2"><b>@Resources.Labels.Statistics_SessionDuration</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1"><b><input class="form-control" type="text" value="@ViewBag.CustomerCount" readonly/></b>
                    </div>
                    <div class="col-md-2"><b><input class="form-control" type="text" value="@ViewBag.ServiceCount" readonly/></b>
                    </div>
                    <div class="col-md-2"><b><input class="form-control" type="text" value="@ViewBag.RequestCount" readonly/></b>
                    </div>
                    <div class="col-md-2">
                        <b><input class="form-control" type="text" value="@ViewBag.ReceivedBytes" readonly onfocus="this.value = '@ViewBag.ReceivedBytesInMeasureUnit @ViewBag.MetricUnit'" onblur="this.value = '@ViewBag.ReceivedBytes'" /></b>
                    </div>
                    <div class="col-md-2"><b><input class="form-control" type="text" value="@ViewBag.SessionDuration" readonly/></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div>
        <a class="btn btn-info" href="~/CustomerMonthlyDatas/Report/?extension=csv&page=@Model.PageNumber&insertDateFrom=@ViewBag.CurrentFrom&insertDateTo=@ViewBag.CurrentTo&searchText=@ViewBag.CurrentFilter"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_CSV </a>
        <a class="btn btn-info" href="~/CustomerMonthlyDatas/Report/?extension=pdf&page=@Model.PageNumber&insertDateFrom=@ViewBag.CurrentFrom&insertDateTo=@ViewBag.CurrentTo&searchText=@ViewBag.CurrentFilter"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_PDF </a>
        <a class="btn btn-info" href="~/CustomerMonthlyDatas/Report/?extension=xlsx&page=@Model.PageNumber&insertDateFrom=@ViewBag.CurrentFrom&insertDateTo=@ViewBag.CurrentTo&searchText=@ViewBag.CurrentFilter"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_XLSX </a>
        <a class="btn btn-info" href="~/CustomerMonthlyDatas/Report/?extension=html&amp;page=@Model.PageNumber&amp;insertDateFrom=@ViewBag.CurrentFrom&amp;insertDateTo=@ViewBag.CurrentTo&amp;searchText=@ViewBag.CurrentFilter"><span class="glyphicon glyphicon-save" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_HTML </a>
    </div>
    <br />
    Strana @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount Počet záznamov @Model.TotalItemCount
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter, currentFrom = ViewBag.CurrentFrom, currentTo = ViewBag.CurrentTo }))*@
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter, currentFrom = ViewBag.CurrentFrom, currentTo = ViewBag.CurrentTo, currentCustId = ViewBag.CurrentCustId, currentServId = ViewBag.CurrentServId, currentDate = ViewBag.CurrentReqDate }))
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#date1').datetimepicker({
                viewMode: 'years',
                format: 'MM.YYYY'
            });
            $('#date2').datetimepicker({
                viewMode: 'years',
                format: 'MM.YYYY'
            });
        });
    </script>
}
