@model IEnumerable<WebPortal.CATProcessStatus>

@{
    ViewBag.Title = "Index";
}

<ul class="nav nav-tabs" role="tablist">
    <li class="active">@Html.ActionLink(Resources.Labels.ProcessTab_Status, "Index", "ProcessStatus")</li>
    <li>@Html.ActionLink(Resources.Labels.ProcessTab_File, "Index", "FileInfo")</li>
    <li>@Html.ActionLink(Resources.Labels.ProcessTab_FileDuplicity, "Index", "FileDuplicity")</li>
</ul>

<h2>@Resources.Labels.Process_PageTitle</h2>
<p>@Resources.Labels.Process_PageSubtitle</p>


<div class="col-xs-12 col-sm-12 col-md-12">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title"><strong>@Resources.Labels.Process_TableTitle</strong></h4>
            <p style="text-align: right"> 
                Od: <input style="color: black" type="text" name="dtFrom" id="datepickerFrom" class="datefield"/>
                Do: <input style="color: black" type="text" name="dtTo" id="datepickerTo" class="datefield" />
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onclick="location.href = '@Url.Action("Search", "ProcessStatus")?insertDateFrom=' + document.getElementById('datepickerFrom').value+'&'+'insertDateTo=' + document.getElementById('datepickerTo').value"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Hľadať </button>
            </p>

        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StepName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BatchID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BatchRecordNum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfService)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfCustomer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfUnknownService)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumberOfPreprocessDelete)
                    </th>
                   <th>
                        @Html.DisplayNameFor(model => model.TCInsertTime)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StepName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BatchID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BatchRecordNum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfService)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfCustomer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfUnknownService)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfPreprocessDelete)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TCInsertTime)
                        </td>
                        @*<td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>*@
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
@section Scripts {   
    @Scripts.Render("~/bundles/jqueryui")   
    @*@Styles.Render("~/Content/cssjqryUi")*@   
@*@Styles.Render("~/Content/css")*@
    <script type="text/javascript">   
        $(document).ready(function () {   
            $('.datefield').datepicker({   
                dateFormat: "dd/mm/yy",   
                changeMonth: true,   
                changeYear: true,   
                yearRange: "-60:+0"   
            });   
        });   
    </script>   
}