@model WebPortal.CONFGeneralSettings

@{
    ViewBag.Title = "Zmazať";
}

<h2>Zmazať</h2>

<h3>Skutočne zmazať záznam?</h3>
<div>
    <h4>Parameter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParamValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParamValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

  
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*<input type="submit" value="Zmaž" class="btn btn-default" />*@ 
            @*<div> @Html.ActionLink("Back to List", "Index") </div>*@
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-primary" href="/CONFGeneralSettings/Index"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Resources.Labels.Btn_Back </a>
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @Resources.Labels.Btn_Delete</button>
            </div>
        </div>
    }
</div>
