@using WebPortal.Models
@model CATServiceParameters

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4><b>@Resources.Labels.Btn_Edit</b></h4>
    <h4>@Resources.Labels.Service_Parameters</h4>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body form1">
        <div class="row">

            @Html.AntiForgeryToken()
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.PKServiceID)
                @Html.HiddenFor(model => model.TCActive)
                @Html.HiddenFor(model => model.TCInsertTime)
                @Html.HiddenFor(model => model.TCLastUpdate)


                <div class="form-group">
                    @Html.LabelFor(model => model.ServiceCode, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                    @if (HttpContext.Current.User.IsInRole(WebRoles.Admin))
                    {
                        @Html.EditorFor(model => model.ServiceCode, new {htmlAttributes = new {@class = "form-control"}})
                    }
                    else
                    {
                        @Html.EditorFor(model => model.ServiceCode, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly" } })
                    }
                        @Html.ValidationMessageFor(model => model.ServiceCode, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ServiceDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @if (HttpContext.Current.User.IsInRole(WebRoles.Admin))
                        {
                            @Html.EditorFor(model => model.ServiceDescription, new {htmlAttributes = new {@class = "form-control"}})
                        }
                        else
                        {
                            @Html.EditorFor(model => model.ServiceDescription, new {htmlAttributes = new {@class = "form-control", @readonly = "readonly" } })
                        }
                        
                        @Html.ValidationMessageFor(model => model.ServiceDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ServiceBasicPrice, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ServiceBasicPrice, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ServiceBasicPrice, "", new { @class = "text-danger" })
                    </div>
                </div>

            
            </div>
        </div>


            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Back</button>
                <button class="btn btn-primary" type="button" id="buttonConfirm" onclick="btnConfirmClick()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Save</button>
            </div>                   
        </div>

        <div class="formConfirm" id="formConfirm" hidden="hidden">
            <div class="modal-body">
                <h4 class="text-center">@Resources.Labels.Message_ConfirmSave</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" id="btnCancel" onclick="btnCancelClick()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Back</button>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Save</button>
            </div>
        </div>
}
       

<script type="text/javascript">
    function btnConfirmClick() {
        var $form = $('#buttonConfirm').parents('form:first')
        if (!$form.valid())
            return;
        $(".form1").hide();
        $(".formConfirm").show();
    }
    function btnCancelClick() {
        $(".form1").show();
        $(".formConfirm").hide();
    }
</script>