@model WebPortal.CATCustomerIdentifiers
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h4><b>Editácia</b></h4>
    <h4>Identifikátor</h4>
</div>



@using (Html.BeginForm("EditIdentifier", "Customer"))
{
    <div class="modal-body form1">

        <div class="row">

            <div class="form-horizontal col-md-offset-1 col-md-10">

                @Html.AntiForgeryToken()


          
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.PKCustomerIdentifiersID)
                    @Html.HiddenFor(m => m.FKCustomerID)
                    @Html.HiddenFor(m => m.TCActive)
                    @Html.HiddenFor(m => m.TCInsertTime)
                    @Html.HiddenFor(m => m.TCLastUpdate)

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerIdentifier, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.CustomerIdentifier, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CustomerIdentifier, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerIdentifierDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.CustomerIdentifierDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CustomerIdentifierDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>               
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Back</button>
                <button class="btn btn-primary" type="button" id="buttonConfirm" onclick="btnConfirmClick()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Save</button>
            </div>

        </div>

        <div class="formConfirm" id="formConfirm" hidden="hidden">
            <div class="modal-body">
                <h4 class="text-center">@Resources.Labels.Message_ConfirmSave</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" id="btnCancel" onclick="btnCancelClick()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Back</button>
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;@Resources.Labels.Btn_Save</button>
            </div>
        </div>
}

<script type="text/javascript">
    function btnConfirmClick() {
        var $form = $('#buttonConfirm').parents('form:first')
        if (!$form.valid())
            return;
        $(".form1").hide();
        $(".formConfirm").show();
    }
    function btnCancelClick() {
        $(".form1").show();
        $(".formConfirm").hide();
    }
</script>