@model IEnumerable<WebPortal.CATOwnerData>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OwnerCompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnwerCompanyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerCompanyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerCompanyID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerCompanyTAXID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerCompanyVATID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerBankAccountIban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAddressStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAddressBuildingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAddressCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAddressZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerAddressCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerResponsibleFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerResponsiblelastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerContactEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerContactMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerContactPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OwnerContactWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCInsertTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCLastUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TCActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerCompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnwerCompanyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerCompanyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerCompanyID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerCompanyTAXID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerCompanyVATID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerBankAccountIban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAddressStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAddressBuildingNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAddressCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAddressZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerAddressCountry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerResponsibleFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerResponsiblelastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerContactEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerContactMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerContactPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OwnerContactWeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCInsertTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCLastUpdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TCActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
