@model WebPortal.CATOwnerData

@{
    ViewBag.Title = "Edit";
}

<h2>@Resources.Labels.Owner_EditPageTitle</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
    <div class="form-horizontal">
        <hr />
        <div class="col-md-4">
            <h4 align="left">Právne informácie</h4><br/>
            <div class="form-group">
                @Html.LabelFor(model => model.OwnerCompanyName, Resources.Labels.OwnerCompanyName, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerCompanyName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerCompanyName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerCompanyType, Resources.Labels.OwnerCompanyType, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerCompanyType, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerCompanyType, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerCompanyID, Resources.Labels.OwnerCompanyID, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerCompanyID, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerCompanyID, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerCompanyTAXID, Resources.Labels.OwnerCompanyTAXID, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerCompanyTAXID, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerCompanyTAXID, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerCompanyVATID, Resources.Labels.OwnerCompanyVATID, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerCompanyVATID, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerCompanyVATID, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerBankAccountIban, Resources.Labels.OwnerBankAccountIban, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerBankAccountIban, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerBankAccountIban, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <h4 align="left">Adresa</h4><br/>
            <div class="form-group">
                @Html.LabelFor(model => model.OwnerAddressStreet, Resources.Labels.OwnerAddressStreet, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerAddressStreet, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerAddressStreet, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerAddressBuildingNumber, Resources.Labels.OwnerAddressBuildingNumber, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerAddressBuildingNumber, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerAddressBuildingNumber, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerAddressCity, Resources.Labels.OwnerAddressCity, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerAddressCity, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerAddressCity, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerAddressZipCode, Resources.Labels.OwnerAddressZipCode, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerAddressZipCode, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerAddressZipCode, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerAddressCountry, Resources.Labels.OwnerAddressCountry, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerAddressCountry, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerAddressCountry, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4 align="left">Kontaktné údaje</h4><br/>
            <div class="form-group">
                @Html.LabelFor(model => model.OwnerResponsibleFirstName, Resources.Labels.OwnerResponsibleFirstName, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerResponsibleFirstName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerResponsibleFirstName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerResponsiblelastName, Resources.Labels.OwnerResponsiblelastName, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerResponsiblelastName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerResponsiblelastName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerContactEmail, Resources.Labels.OwnerContactEmail, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerContactEmail, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerContactEmail, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerContactMobile, Resources.Labels.OwnerContactMobile, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerContactMobile, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerContactMobile, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerContactPhone, Resources.Labels.OwnerContactPhone, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerContactPhone, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerContactPhone, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OwnerContactWeb, Resources.Labels.OwnerContactWeb, htmlAttributes: new {@class = "control-label col-md-3"})
                <div class="col-md-9">
                    @Html.EditorFor(model => model.OwnerContactWeb, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.OwnerContactWeb, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="form-group row" >
            <div class="col-md-4 col-md-offset-1">     
                <a class="btn btn-danger" href="/OwnerDatas/Index/"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> @Resources.Labels.Btn_Back </a>    
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> @Resources.Labels.Btn_Save</button>
            </div>
        </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
