@using Microsoft.AspNet.Identity
@using WebPortal.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VOSK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/css/bootstrap")*@

    <!-- jQuery UI CSS Reference -->
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    @*<!-- Required jQuery and jQuery UI Javascript references -->*@
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
    @*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <link rel="icon" href="~/Resources/Images/favicon.jpg">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header col-md-6">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @* @Html.ActionLink("VOSK", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Domov", "Index", "Home")</li>
                    <li>@Html.ActionLink("O aplikácii", "About", "Home")</li>
                    <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                </ul>
               @if (Request.IsAuthenticated)
               {
                   using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                   {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Vitaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Odhlásiť</a></li>
                    </ul>
                   }
               }
            </div>
        </div>
    </div>


    @*@if (User.IsInRole("admin"))*@
   @*@if (Request.IsAuthenticated)*@

        <div class="container-fluid">
            <div class="row">
                
                <div class="col-xs-12 col-sm-4 col-md-2">
                    <div class="accordion" id="leftMenu">
                        
                    @if (Request.IsAuthenticated)
                    {
                        @*Nastavenia menu*@
                        if (User.IsInRole(WebRoles.Admin))
                        {
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseTwo">
                                    <i class="glyphicon glyphicon-cog"></i> @Resources.Labels.Menu_Nastavenia &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@*<span class="badge pull-right">12</span>*@
                                </a>
                            </div>
                           
                            <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li class="active"><a href="~/OwnerDatas/Index"><i class="glyphicon glyphicon-pencil"></i> @Resources.Labels.Menu_FakturacneData</a></li>
                                        <li class="active"><a href="~/GeneralSettings/Index"><i class="glyphicon glyphicon-wrench"></i> @Resources.Labels.Menu_GeneralSetup</a></li>
                                        <li class="active"><a href="~/Customer/CompanyList"><i class="glyphicon glyphicon-globe"></i> @Resources.Labels.Menu_Zakaznici</a></li>
                                        <li class="active"><a href="~/Service/Index"><i class="glyphicon glyphicon-tasks"></i> @Resources.Labels.Menu_Sluzby</a></li>
                                        <li class="active"><a href="~/GapAnalyzes/Index"><i class="glyphicon glyphicon-stats"></i> @Resources.Labels.Menu_Procesy</a></li>
                                        <li class="active"><a href="~/Account/UserList"><i class="glyphicon glyphicon-user"></i> @Resources.Labels.Menu_Pouzivatelia</a></li>
                                    </ul>
                                </div>
                            </div>                            
                        </div>
                        }

                        @*Prehľad menu*@
                        if (User.IsInRole(WebRoles.User))
                        {
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseThree">
                                    <i class="glyphicon glyphicon-eye-open"></i> @Resources.Labels.Menu_Prehlad &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@*<span class="badge pull-right">12</span>*@
                                </a>
                            </div>
                            <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li class="active"><a href="~/CustomerMonthlyDatas/Index"><i class="glyphicon glyphicon-search"></i> @Resources.Labels.Menu_MonthlyData</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        }

                        @*Fakturácie menu*@
                        if (User.IsInRole(WebRoles.Ekonom))
                        {
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#leftMenu" href="#collapseFour">
                                    <i class="glyphicon glyphicon-duplicate"></i> @Resources.Labels.Menu_Fakturacie &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@*<span class="badge pull-right">12</span>*@
                                </a>
                            </div>
                            <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                                <div class="accordion-inner">
                                    <ul class="nav nav-pills nav-stacked">

                                        <li class="active"><a href="~/CustomerMontlyTotalInvoice/Index"><i class="glyphicon glyphicon-search"></i> @Resources.Labels.SubMenu_Fakturacie</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                          }
                       }
                    </div>                    
                </div>
               

                <div class="col-xs-12 col-md-10 ">
                    @RenderSection("featured", required: false)
                    @RenderBody()
                </div>
            </div>
        </div>
        <hr />
                <footer>

                    <p class="text-center">&copy; @DateTime.Now.Year - Výskumný ústav geodézie a kartografie v Bratislave - developed by BlueZ s.r.o</p>

                </footer>
    
   
        @*<div class="container">
            <div class="page-header">
                <img src="@Url.Content("~/Images/home.png")" alt="IMAGES" />
                <h1 class="text-center">NADPIS <small>podnadpis</small></h1>
            </div>

            <div class="row">
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </div>
        <hr />
                    <footer>
                        <p class="text-center">&copy; @DateTime.Now.Year - Footer</p>
                    </footer>*@
   





    <div class="modal fade" id="modal-small" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-medium" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <script type="text/javascript">
      
        //modal window
        $(function () {

            // Initialize modal Small  dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link-small', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-small');
                $(this).attr('data-toggle', 'modal');               
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-small').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-small').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
          

            // Initialize modal Medium dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link-medium', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-medium');
                $(this).attr('data-toggle', 'modal');               
            });

            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-medium').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-medium').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
           
        });

    </script>

</body>
</html>
